/app/config/parameters.yml

/build/
/composer.phar
/vendor/
/web/bundles/
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml

composer.lock
node_modules
.sass-cache
web/iknsa/dist/
web/iknsa/vendor/bower_components/
web/docs/*
install/files/*
.idea/
~\$*.docx
web/uploads
npm-debug.log